@font-face {
    font-family: 'cera_round_pro_demoregular';
    src: url('./../fonts/ceraroundprodemo-regular-webfont.eot');
    src: url('./../fonts/ceraroundprodemo-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/ceraroundprodemo-regular-webfont.woff2') format('woff2'),
    url('./../fonts/ceraroundprodemo-regular-webfont.woff') format('woff'),
    url('./../fonts/ceraroundprodemo-regular-webfont.ttf') format('truetype'),
    url('./../fonts/ceraroundprodemo-regular-webfont.svg#cera_round_pro_demoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.preloader{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: #000;
    top:0;
    left:0;
    animation: preloader-wrap 2s linear forwards;
    animation-delay: 0.5s;
}
.preloader>img{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    z-index: 11;
    animation: preloader 2s linear forwards;
}

@keyframes preloader-wrap{
    100% {
        display: none;
    }
}


@keyframes preloader {

    0% {

        display: block;
        transform: rotate(90deg);
    }
    10% {
        transform: rotate(180deg);
    }
    20% {
        transform: rotate(270deg);

    }
    30% {
        transform: rotate(360deg);

    }
    40% {
        transform: rotate(505deg);

    }
    50% {
        transform: rotate(650deg);

    }
    60% {
        transform: rotate(795deg);

    }
    70% {
        transform: rotate(940deg);

    }
    80% {
        transform: rotate(1120deg);

    }
    90% {
        transform: rotate(1300deg);

    }
    100% {
        transform: rotate(1660deg);
        display: none;
    }
}



.background-gray {
    /*background: #fbfbfb;*/
    background: linear-gradient(135deg, rgba(245, 245, 245, 0.5) 0%, rgba(245, 245, 245, 0.5) 100%);
}

main {
    margin-top: 12px;
}

.container-banner {
    padding-left: 40px;
    padding-top: 68px;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
}

.container-banner h2{
    font-family: 'cera_round_pro_demoregular', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3d3d3d;
    margin-left: 3px;
    margin-bottom: 7px;
}




.container-banner h1 {
    font-family: 'cera_round_pro_demoregular', sans-serif;
    font-weight: 900;
    font-size: 70px;
    line-height: 100%;
    text-transform: uppercase;
    color: #3d3d3d;
    margin-right: 30px;
}

.container-banner h1 span{
    color: #46a358;
}

.container-banner p {
    min-width: 557px;
    font-family: 'cera_round_pro_demoregular', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #727272;
    margin-bottom: 44px;
}

.container-banner a {
    margin-top: 44px;
    font-family: 'cera_round_pro_demoregular', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    padding: 10px 27px;
    background: #46a358;
    border-radius: 6px;
}

.main {
    background: #fff;
    display: flex;
    justify-content: space-between;
    margin-top: 42px;
}

.menu-wrapper{
    max-width: 310px;
    display: flex;
    flex-direction: column;
    margin-right: 39px;
}

.menu h3 {
    font-family: 'cera_round_pro_demoregular', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    margin: 14px 18px;
}


.menu-wrapper ul li {
    margin: 11px 30px;
}

.menu-wrapper ul li a {
    font-family: 'cera_round_pro_demoregular', sans-serif;
    font-weight: 400;
    color: #3d3d3d;
    font-size: 15px;
    line-height: 267%;
}
.menu-wrapper ul li a:hover {
    font-weight: 700;
    color: #46a358;
}

.menu-wrapper .banner {
    width: 310px;
    height: 470px;
}

.products-wrapper{
    max-width: 838px;
    margin: 0 11px;
}

.categories-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 31px;
}

.categories-sort ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.categories-sort ul li{
    margin: 0 20px;
    padding-bottom: 7px;
}
.categories-sort ul li:first-of-type{
    margin-left: 0;
}

.categories-sort ul li a{
    font-family: 'cera_round_pro_demoregular', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 107%;
    color: #3d3d3d;

}
.categories-sort ul li a:hover{
    font-weight: 700;
    color: #46a358;
    padding-bottom: 7px;
    border-bottom: 2px solid #46a358;
}
.categories-wrapper .sort_by{
    display: flex;
    text-align: center;
    justify-content: flex-end;
}

.sort_by label {
    font-family: 'cera_round_pro_demoregular', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 107%;
    color: #3d3d3d;
}

.sort_by select {
    font-family: 'cera_round_pro_demoregular', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 107%;
    color: #3d3d3d;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 35px;
    margin-bottom: 90px;
}

.product-item {
    max-width:258px;
    display: flex;
    flex-direction: column;
    border-top: solid 1px transparent;
    position: relative;
}

.product-item .discount {
    background: #46a358;
    padding: 7px 9px;
    font-family: 'cera_round_pro_demoregular', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
    position: absolute;
    left: 0;
    top: 14px;

}
.jump {
    animation: jump 2s infinite;
}

@keyframes jump {
    0%{
        top: 10px;
    }
    25%{
        bottom: 10px;
    }
    50%{
        top: 20px;
        transform: rotate(360deg);
    }
    100%{
        top:0;
    }
}

.product-item .action-item-icon {
    position: absolute;
    display: inline-flex;
    justify-content: space-between;
    width: 125px;
    max-height: 35px;
    bottom: 56px;
    left: calc(50% - 63px);
    opacity: 0;
    transition: 03s;
}

.product-item .action-item-icon li:hover svg path {
    fill: #46a358;
}

.product-item:hover {
    border-top: solid 1px #46a358;
}

.product-item:hover .action-item-icon{
    opacity: 1;
}

.product-item .old-price {
    font-family: 'cera_round_pro_demoregular', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 89%;
    color: #a5a5a5;
    text-decoration: line-through;
    margin-left: 16px;
}

.product-item img {
    padding: 4px;
    background: #fbfbfb;
    width: 250px;
    height: 250px;
    margin: 25px 4px;
}
.product-item .name-price h3{
    font-family: 'cera_round_pro_demoregular', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #3d3d3d;
    margin: 6px 0;
}

.product-item .name-price .price {
    font-family: 'cera_round_pro_demoregular', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #46a358;
}
.pagination ul{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.pagination ul li {
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    width: 35px;
    height: 35px;
    padding: 10px 12px;
}

.pagination ul li a{
    font-family: 'cera_round_pro_demoregular', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
}
.pagination ul li:hover {
    background: #46a358;
}

.pagination ul li:hover a{
    font-family: 'cera_round_pro_demoregular', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #fff;
}

.pagination ul li:hover a svg path {
    stroke: #fff;
}


/*Less 8*/
.summer-collection{
    margin-top: 130px;
    margin-bottom: 69px;
}

.summer-collection .container{
    display: flex;
    justify-content: space-between;
}

.summer-collection .summer-item{
    display: flex;
    max-width: 528px;
    text-align: right;
    justify-content: center;

}

.summer-collection .summer-item .img-summer-size{
    width: 288px;
    height: 280px;
}

.summer-item-description {
    padding-right: 30px;
}

.summer-collection .summer-item h3 {
    font-family: 'cera_round_pro_demoregular', sans-serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 133%;
    text-transform: uppercase;
    text-align: right;
    color: #3d3d3d;
    margin-top: 37px;
    margin-bottom: 9px;
}

.summer-collection .summer-item p {
    font-family: 'cera_round_pro_demoregular', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-align: right;
    color: #727272;
    margin-bottom: 36px;
}

.summer-collection .summer-item a {
    min-width: 140px;
    border-radius: 6px;
    background: #46a358;
    font-family: 'cera_round_pro_demoregular', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    color: #fff;
    padding: 10px 0;
    margin-right: 2px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.blog {
    text-align: center;
}

.blog h2 {
    font-family: 'cera_round_pro_demoregular', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 53%;
    text-align: center;
    color: #3d3d3d;
    padding-bottom: 15px;
}

.blog .sub-title {
    font-family: 'cera_round_pro_demoregular', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-align: center;
    color: #727272;
    padding-bottom: 35px;
}

.blog .post-card-collection {
    display: flex;
    justify-content: space-between;
}

.blog .post-card-collection article {
    max-width: 268px;
    min-height: 362px;
}

.blog .shot-description{
    display: inline-block;
    flex-wrap:wrap;
    text-align: left;
    padding-left: 13px;
}
.blog .shot-description .green {
    font-family: 'cera_round_pro_demoregular', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #46a358;
}
.blog .shot-description h3 {
    font-family: 'cera_round_pro_demoregular', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #3d3d3d;
    margin: 4px 0;
}

.blog .shot-description p {
    font-family: 'cera_round_pro_demoregular', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #727272;
    margin-bottom: 9px;
}



.blog .shot-description a {
    font-family: 'cera_round_pro_demoregular', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #3d3d3d;
    padding-right: 6px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.blog .shot-description a:hover {
    color: #46a358;
}

.blog .shot-description a:hover svg path {
    fill: #46A358;
}
.plant-care .container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fbfbfb;
}

.plant-care-item {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    min-width: 204px;
    min-height: 202px;
    padding: 25px;
}
.plant-care-item>img {
    margin-bottom: 15px;
}

.plan-care-description>h3{
    font-family: 'cera_round_pro_demoregular', sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 94%;
    color: #3d3d3d;
    margin-bottom: 9px;
}
.plan-care-description>p{
    font-family: 'cera_round_pro_demoregular', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #727272;
}
.separator {
    min-height: 187px;
    min-width: 1px;
    margin: 32px 5px;
    background: rgba(70, 163, 88, 0.1);
}

.subscription {
    min-width: 354px;
    min-height: 202px;
    padding: 25px;
    margin: 25px 110px 23px 37px;
}

.subscription>h3 {
    font-family: 'cera_round_pro_demoregular', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    padding-top: 13px;
    padding-bottom: 25px;
}
.subscription>form{
    margin-bottom: 18px;
}

.subscription>p{
    font-family: 'cera_round_pro_demoregular', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 169%;
    color: #727272;
}
.subscription form {
    display: flex;
}
.subscription input{
    border-radius: 6px;
    width: 354px;
    height: 40px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.06);
    background: #fff;
}

.subscription input[placeholder] {
    font-family: 'cera_round_pro_demoregular', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #acacac;
    padding:12px 11px;
}
.subscription button{
    background: #46a358;
    font-family: 'cera_round_pro_demoregular', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #fff;
    border-radius: 0 6px 6px 0;
    min-width: 85px;
    min-height: 40px;
}

.contacts .container{
    background: linear-gradient(90deg, #edf6ef 0%, #52c368 100%);
    padding: 27px 0;
}

.contacts img {
    min-width: 150px;
    min-height: 35px;

}

.contacts ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 22px;
}

.contacts li {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 205px;
}

.contacts li>a {
    font-family: 'cera_round_pro_demoregular', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #3d3d3d;
    padding-left: 9px;
}
.contacts li.location:before {
    content: url("./../img/location.svg");
    width: 20px;
    height: 20px;
}

.contacts li.mail:before {
    content: url("./../img/mail.svg");
    width: 20px;
    height: 20px;
}

.contacts li.phone:before {
    content: url("./../img/phone.svg");
    width: 20px;
    height: 20px;
}
footer .container{
    padding-top: 33px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(70, 163, 88, 0.2);;
}
.navigation-footer-wrapper{
    display: inline-flex;
    padding-left: 25px;
    padding-bottom: 29px;
    flex-direction: column;
    justify-content: flex-start;

}

.navigation-footer-wrapper:nth-last-of-type(1) {
    padding-right: 155px;
}

.navigation-footer-wrapper h3 {
    font-family: 'cera_round_pro_demoregular', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    margin-bottom: 8px;
}

.navigation-footer {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

}

.navigation-footer>li>a {
    font-family: 'cera_round_pro_demoregular', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 214%;
    color: #3d3d3d;

}

.navigation-footer-wrapper .social-media {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
    margin-bottom: 33px;
}

.navigation-footer-wrapper .social-media li {
    margin-right: 10px;
}

.social-logo{
    width: 30px;
    height: 30px;
}

.payments h3{
    margin-bottom: 13px;
}

.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7px;
    margin-bottom: 23px;
}

.copyright>p{
    font-family:'cera_round_pro_demoregular', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 214%;
    color: #3d3d3d;
}



/*@media screen {*/
/*    portrait*/
/*    360px - base android old iphone*/
/*    375px - iphone 7, 8 iphone mini*/
/*    390px - iphone 12, 13, 13pro, 14*/
/*    393px - iphone 15px*/

/*    414 px - iphone * plus*/
/*    428 px - all pro max iphone*/
/*    430 px - other*/
/*    */
/*    table*/
/*    768px - base*/
/*    800px*/
/*    820px*/
/*    834px*/
/*    992px*/
/*    1024px */
/*    */
/*    все что больше 1024 - laptop */
/*    */

/*}*/

/*Не взлетело */
/*.blog .shot-description a:after{*/
/*    content: url("./../img/arrow-read-more.svg");*/
/*}*/
/*.blog .shot-description a:after:hover {*/
/*    content: url("./../img/arrow-read-more-hover.svg");*/
/*}*/

/*Register*/
.register-modal {
    max-width: 500px;
    margin: auto;
    text-align: center;
    border: 1px dotted #e3e3e3;
    position: relative;
}

.register-modal .close-button{
    position: absolute;
    top: 13px;
    right: 13px;
}

.register-modal .text-center {
    text-align: center;
}

.register-modal .title {
    margin: 24px 0;
}

.register-modal .title a {
    font-weight: 500;
    font-size: 20px;
    line-height: 80%;
    color: #3d3d3d;
    text-decoration: none;
}

.register-modal .title a:hover {
    color: #46a358;
}

.register-modal .title span {
    font-weight: 250;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    margin: 0 11px;
}

.register-modal p.text {
    font-weight: 400;
    font-size: 13px;
    line-height: 123%;
    color: #3d3d3d;
}


.register-modal .border {
    border: 1px solid #eaeaea;
    border-radius: 5px;
    width: 300px;
    padding: 12px 0;

}

.register-modal input {
    margin: 8px auto;
    border: solid 1px black;
    padding: 10px 20px;
}

.register-modal input[placeholder] {
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #a5a5a5;
    margin: 12px 0;
    padding-left: 14px;
}

.register-modal .password{
    position: relative;
}
/*Kак правильно размещать глаза на поле пароля ? */
.register-modal .eyes-icon{
    position: absolute;
    top: 23px;
    right: 108px;
}


.register-modal .wrapper-alternative-register {
    margin: 3px 0;
    padding: 19px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-modal .wrapper-alternative-register p {
    margin-right: 7px;
    margin-left: 7px;
}

.register-modal .line {
    border: 1px solid #eaeaea;
    width: 95px;
    height: 0;
}


.register-modal .buttons a {
    display: block;
    font-weight: 500;
    font-size: 13px;
    line-height: 123%;
    text-align: center;
    color: #727272;
    text-decoration: none;
    padding: 12px 0;
    margin: 8px auto;
}

.register-modal button {
    background: #46a358;
    border-radius: 5px;
    width: 300px;
    padding: 15px 0;
    margin: 8px auto;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
}


.register-modal button:hover {
    background-color: green;
    transform: rotate(360deg);
    transition: 1s;
}
.register-modal .buttons{
    margin-top: 8px;
    margin-bottom: 40px;
}

.register-modal .buttons span{
    height: 20px;
    text-align: center;
    margin: 0 9px;
}

.register-modal footer {
    height: 10px;
    background: #46a358;
}



/*.text {*/
/*    font-size: 30px;*/
/*}*/

/*.title span {*/
/*    color: yellowgreen;*/
/*}*/

