@font-face {
    font-family: 'cera_round_pro_demoregular';
    src: url('./../fonts/ceraroundprodemo-regular-webfont.eot');
    src: url('./../fonts/ceraroundprodemo-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/ceraroundprodemo-regular-webfont.woff2') format('woff2'),
    url('./../fonts/ceraroundprodemo-regular-webfont.woff') format('woff'),
    url('./../fonts/ceraroundprodemo-regular-webfont.ttf') format('truetype'),
    url('./../fonts/ceraroundprodemo-regular-webfont.svg#cera_round_pro_demoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    padding-top: 30px;
}

.shopLogo a {
    margin-top: 1px;
    margin-bottom: 17px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.30px solid rgba(70, 163, 88, 0.5);
}

header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul li {
    margin: 8px 25px 25px;
}

ul li a {
    font-family: 'cera_round_pro_demoregular';
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
}

ul li a:hover {
    font-family: 'cera_round_pro_demoregular';
    font-weight: 700;
}

.loginButton{
    font-family: 'cera_round_pro_demoregular';
    background: #46a358;
    border-radius: 6px;
    padding: 7px 17px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    margin-bottom: 18px;
}

.loginButton img {
    padding-right: 7px;
}

.background-gray {
    /*background: #fbfbfb;*/
    background: linear-gradient(135deg, rgba(245, 245, 245, 0.5) 0%, rgba(245, 245, 245, 0.5) 100%);
}

main .container {
    margin-top: 12px;

}

.container-banner {
    padding-left: 40px;
    padding-top: 68px;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
}

.container-banner h2{
    font-family: 'cera_round_pro_demoregular';
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3d3d3d;
    margin-left: 3px;
    margin-bottom: 7px;
}

.container-banner h1 {
    font-family: 'cera_round_pro_demoregular';
    font-weight: 900;
    font-size: 70px;
    line-height: 100%;
    text-transform: uppercase;
    color: #3d3d3d;
    margin-right: 30px;
}

.container-banner h1 > span{
    color: #46a358;
}

.container-banner p {
    min-width: 557px;
    font-family: 'cera_round_pro_demoregular';
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #727272;
    margin-bottom: 44px;
}

.container-banner a {
    margin-top: 44px;
    font-family: 'cera_round_pro_demoregular';
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    padding: 10px 27px;
    background: #46a358;
    border-radius: 6px;
}

.main {
    background: #fff;
    display: flex;
    justify-content: space-between;
    margin-top: 42px;
}

.menu-wrapper{
    width: 310px;
    display: flex;
    flex-direction: column;
}

.menu h3 {
    font-family: 'cera_round_pro_demoregular';
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    margin: 14px 18px;
}


.main ul li {
    margin: 11px 30px;
}

.main ul li a {
    font-family: 'cera_round_pro_demoregular';
    font-weight: 400;
    color: #3d3d3d;
    font-size: 15px;
    line-height: 267%;
}
.main ul li a:hover {
    font-weight: 700;
    color: #46a358;
}

.main .banner {
    width: 310px;
    height: 470px;
}


/*Register*/
.modal {
    max-width: 500px;
    margin: auto;
    text-align: center;
}

.text-center {
    text-align: center;
}

.title {
    margin: 24px 0;
}

.title a {
    font-weight: 500;
    font-size: 20px;
    line-height: 80%;
    color: #3d3d3d;
    text-decoration: none;
}

.title a:last-child {
    color: #46a358;
}

.title a:hover {}

.title span {
    font-weight: 250;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    margin: 0 11px;
}

p.text {
    font-weight: 400;
    font-size: 13px;
    line-height: 123%;
    color: #3d3d3d;
}


.border {
    border: 1px solid #eaeaea;
    border-radius: 5px;
    width: 300px;
    height: 40px;
}

input {
    margin: 8px auto;
}

input[placeholder] {
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #a5a5a5;
    margin: 12px 0;
    padding-left: 14px;
}

button {
    background: #46a358;
    border-radius: 5px;
    width: 300px;
    height: 45px;
    margin: 33px auto;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
}


.wrapper-alternative-register {
    margin: 3px 0;
    padding: 19px 0;
}
.line {
    /*Х3*/
    /*display: inline-block;*/
    border: 1px solid #eaeaea;
    width: 95px;
    height: 0;
}

.buttons a {
    display: block;
    font-weight: 500;
    font-size: 13px;
    line-height: 123%;
    text-align: center;
    color: #727272;
    text-decoration: none;
    padding: 12px 0;
    margin: 8px auto;

}

.buttons span{
    height: 20px;
    text-align: center;
    margin: 0 9px;
}


/*footer {*/
/*    height: 10px;*/
/*    background: #46a358;*/
/*}*/

/*.active {*/
/*    color: greenyellow;*/
/*}*/
/*!* main color 46A358*!*/

/*input {*/
/*    border: solid 1px black;*/
/*    padding: 10px 20px;*/
/*}*/

/*.text {*/
/*    font-size: 30px;*/
/*}*/

/*.title span {*/
/*    color: yellowgreen;*/
/*}*/

/*button {*/
/*    background-color:#46A358;*/
/*    color: #FFFFFF;*/
/*}*/


/*button:hover {*/
/*    background-color: green;*/
/*    transform: rotate(180deg);*/
/*    transition: 1s;*/
/*}*/